/* global  */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --link-color: #666;
  --link-violet: violet;
  --brand-color: violet;
  --extra-violet: rgb(57, 3, 68);
  --transition: all 0.5s ease-in-out;
  --fine-border: 1px solid rgb(212 212 210);

  --fds-gray-00: #f5f6f7;
  --fds-gray-05: #f2f3f5;
  --fds-gray-10: #ebedf0;
  --fds-gray-20: #dadde1;
  --fds-gray-25: #ccd0d5;
  --fds-gray-30: #bec3c9;
  --fds-gray-45: #8d949e;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
}
body {
  font-family: "Itim", cursive;
  background-color: var(--fds-gray-25);
  font-size: 14px;
  line-height: 1.28571;
  color: #333;
  margin: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-image: url("@/assets/images/background.jpeg"); */
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--transition);
}
a:hover {
  color: var(--link-violet);
}
.has-error input {
  border: 1px solid red;
}

.brand_button {
  background-color: var(--brand-color);
  color: white;
  border-radius: 4px;
  padding: 0 4px;
}
.brand_button:hover {
  color: var(--extra-violet);
}
.has-error label {
  color: red;
}
/* header  */
.header_full {
  width: 100vw;
}
