/* global  */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --link-color: #666;
  --link-violet: violet;
  --brand-color: violet;
  --extra-orange: rgb(207, 137, 7);
  --transition: all 0.5s ease-in-out;
  --fine-border: 1px solid rgb(212 212 210);
}
body {
  font-family: "Itim", cursive;
  background-color: #f2f3f7;
  font-size: 14px;
  line-height: 1.28571;
  color: #333;
  margin: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("@/assets/images/background.jpeg");
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--transition);
}
a:hover {
  color: var(--link-violet);
}
/* header  */
.header_full {
  width: 100vw;
}
/* top header  */
.top_header {
  width: 100vw;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.header_icon {
  width: 20px;
  display: inline-block;
}
.search {
  position: relative;
}
.search input {
  border-radius: 25px;
}
.search_select_pre_div {
  position: absolute;
  top: 0px;
  left: 13px;
  background: var(--brand-color);
  height: 38px;
  width: 105px;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_select_pre_div select {
  background: var(--brand-color);
  border: none;
  outline: none;
  color: white;
}
.search_icon_pre_div {
  position: absolute;
  top: 0px;
  right: 13px;
  background: var(--brand-color);
  height: 38px;
  width: 38px;
  border-radius: 0 25px 25px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_icon {
  width: 20px;
  color: white;
}
.top_header_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.top_header_right a {
  white-space: nowrap;
  color: var(--brand-color);
}
.top_header_right a:hover {
  color: var(--extra-hover-color);
  font-size: 15px;
}
/* lower header  */
.low_head_back_img {
  width: 100%;
  background-image: url("@/assets/images/gradient.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  display: flex;
}
.lower_header {
  width: 100%;
  position: relative;
}
.category_menu {
  display: flex;
  align-items: center;
}
.category_menu_option {
  display: flex;
  align-items: center;
}
.category_menu_icon {
  width: 18px;
}
.category_menu_text {
  font-size: 18px;
  margin: 0 2px;
}
.root_category {
  position: absolute;
  left: 1px;
  top: 45px;
  background: white;
  padding: 5px 10px;
  z-index: 9999;
  box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.075) !important;
  width: 300px;
  height: 100vw;
}
.root_category ul {
  margin-left: 10px;
}
.root_category ul li:hover {
  color: var(--brand-color);
}
.root_category ul li a {
  display: flex;
  justify-content: space-between;
}
.root_category svg {
  width: 16px;
}
.root_category_li:hover {
  border-top: 1px solid var(--brand-color);
  border-bottom: 1px solid var(--brand-color);
  width: 105%;
}
.sub_category {
  position: absolute;
  left: 300px;
  top: 0;
  background: white;
  padding: 5px 10px;
  border: 1px solid var(--brand-color);
  width: 150%;
  height: 100vw;
}
.sub_category_a {
  background-color: var(--brand-color);
  border-radius: 4px;
  color: white;
}
.sub_category_a:hover {
  color: white;
}
.sub_category_a {
  justify-content: center !important;
}
.sub_category_a h6 {
  margin: 0 5px;
}
.lower_info_ul {
  display: flex;
}
.lower_info_ul li a {
  font-size: 16px;
}
.lower_info_ul li:hover a {
  font-size: 18px;
}
.lower_info_right_end {
  display: flex;
  justify-content: flex-end;
}
.mobile_menu_pre_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile_menu_option {
  display: none;
}
.mobile_menu {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  width: 70%;
  box-shadow: 0.125rem 0.125rem 0 rgb(0 0 0 / 8%) !important;
  z-index: 9999;
}
/* index  */
/* trendig  */
.trending_heading {
  background-color: var(--brand-color);
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  color: white;
}
.trending ul li {
  border-bottom: var(--fine-border);
}
.trending ul li a {
  font-size: 15px;
}
.trending ul li a span {
  background-color: var(--brand-color);
  padding: 2px 4px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 85px;
  height: 20px;
  margin-top: auto;
}
.trending ul li a span:hover {
  transform: scale(1.1);
  transition: var(--transition);
}
/* footer  */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
@media only screen and (max-width: 768px) {
  .search {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .top_header_right {
    flex-wrap: nowrap;
  }
  .mobile_menu_option {
    display: flex;
    align-items: center;
  }
  .hatirpal_info {
    display: none;
  }
  .category_menu_option {
    display: none;
  }
  .lower_header {
    position: unset;
  }
}

@media only screen and (max-width: 624px) {
}
