/* global  */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --link-color: #666;
  --link-violet: violet;
  --brand-color: violet;
  --extra-orange: rgb(207, 137, 7);
  --transition: all 0.5s ease-in-out;
  --fine-border: 1px solid rgb(212 212 210);
}
body {
  font-family: "Itim", cursive;
  background-color: #f2f3f7;
  font-size: 14px;
  line-height: 1.28571;
  color: #333;
  margin: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("@/assets/images/background.jpeg");
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--transition);
}
a:hover {
  color: var(--link-violet);
}
/* header  */
.header_full {
  width: 100vw;
}
