/* progress  */
.progress_bar {
  border: 1px solid green;
  border-radius: 4px;
}
.progress1 {
  border: 2px solid red;
}
.progress2 {
  border: 2px solid green;
}
/* .checkout  */
.checkout {
  display: flex;
}
.cart table select {
  outline: none;
}
.cart table input {
  outline: none;
}
.shopping_checkout {
  display: flex;
  justify-content: space-between;
}
/* address  */
.all_address {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--fds-gray-25);
  white-space: nowrap;
}
.all_address:last-child {
  border-bottom: unset;
}
.all_address .selector {
  display: flex;
  align-items: center;
}
